body {
  background: #F39C12;
  background: rgba(236, 240, 241,1.0);
}

a {
  text-decoration: none;
}

.mega-list {
  padding-bottom: 50px;
}

.demo-row img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  padding-top: 13px;
}

.demo-row .planet-wrapper  {
  border-radius: 100%;
  height: 225px;
  width: 225px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
/*
.demo-row :nth-of-type(1) .planet-wrapper  {
  background: #E67E22;
  background: rgba(230, 126, 34,0.5);
}

.demo-row :nth-of-type(2) .planet-wrapper  {
  background: #27AE60;
  background: rgba(39, 174, 96,0.5);
}

.demo-row :nth-of-type(3) .planet-wrapper  {
  background: #2980B9;
  background: rgba(41, 128, 185,0.5);
}
*/
footer {
  padding-top: 15px;
}

footer a {
  text-decoration: none;
  padding-right: 40px;
  color: #2980b9;
}

footer span {
  padding-top: 10px;
  display: block;
  text-align: center;
}